<br>
<div class="container-fluid">
    <div class="container-fluid row justify-content-center jumbotron">
        <div>
            <h4>Welcome to ChatScrum</h4>

            <div class="row justify-content-between">
                <div class="col-6">
                    <a routerLink="">
                    <button type="button" class="btn btn-success btn-sm btn-block">Home</button>
                </a>
                </div>
                <div class="col-6">
                    <a routerLink="/scrumboard"><button type="button"
                        class="btn btn-success btn-sm btn-block">scrumboard</button></a>
                </div>
              </div>

            
                
            
        </div>
    </div>
</div>
<hr>
<router-outlet></router-outlet>