<br>


<div class="container-fluid">
<div class="example-container">
    <h2>To-do list</h2>
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doingList, doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
</div>

<div class="example-container">
    <h2>Doing list</h2>
    <div cdkDropList #doingList="cdkDropList" [cdkDropListData]="doing" [cdkDropListConnectedTo]="[todoList, doneList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doing" cdkDrag>{{item}}</div>
    </div>
</div>

<div class="example-container">
    <h2>Done List</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[doingList, todoList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>

    </div>
</div>
</div>





<table *ngFor="let participant of _participants" class="table">

    <hr>
    <p><strong>{{participant['user']['nickname']}}</strong></p>
    <tr>
        <th>Task for the week</th>
        <th>Task for the day</th>
        <th>Verify</th>
        <th>Done</th>
    </tr>


    <tr>
        <td>
            <div *ngIf="participant['scrumgoal_set']!=''; else elseBlock">
                <div *ngFor="let goal of participant['scrumgoal_set']">
                    <div *ngIf="goal['status']==0 && goal['user'] == participant['id']">
                        {{goal['name']}} <br>
                        {{goal['id']}}
                        <p>status: {{ goal['status']}}</p>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock> <small class="text-warning">Goal Empty</small> </ng-template>

        </td>


        <td>
            <div *ngIf="participant['scrumgoal_set']!=''; else elseBlock">
                <div *ngFor="let goal of participant['scrumgoal_set']">
                    <div *ngIf="goal['status']==1 && goal['user'] == participant['id']">
                        {{goal['name']}} <br>
                        {{goal['id']}}
                        <p>status: {{ goal['status']}}</p>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock> <small class="text-warning">Goal Empty</small> </ng-template>
        </td>

        <td>
            <div *ngIf="participant['scrumgoal_set']!=''; else elseBlock">
                <div *ngFor="let goal of participant['scrumgoal_set']">
                    <div *ngIf="goal['status']== 2 && goal['user'] == participant['id']">
                        {{goal['name']}} <br>
                        {{goal['id']}}
                        <p>status: {{ goal['status']}}</p>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock> <small class="text-warning">Goal Empty</small> </ng-template>
        </td>

        <td>
            <div *ngIf="participant['scrumgoal_set']!=''; else elseBlock">
                <div *ngFor="let goal of participant['scrumgoal_set']">
                    <div *ngIf="goal['status']== 3 && goal['user'] == participant['id']">
                        {{goal['name']}} <br>
                        {{goal['id']}}
                        <p>status: {{ goal['status']}}</p>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock> <small class="text-warning">Goal Empty</small> </ng-template>
        </td>
    </tr>

</table>