
<div class="container">
    <form [formGroup]="createGoal" (ngSubmit)="addGoal()">
        <div class="form-group">
          
          <input
            type="text"
            formControlName="goal"
            class="form-control"
            placeholder="Add your goal for the week"
            name="chat"
          />
        </div>
      
        <button type="submit" class="btn btn-primary btn-block">Add Goal</button>
      </form>
  
  </div>
   <a class="btn btn-primary" routerLink="/chat">Chat</a>
   
  <div *ngIf="loggedUser.role == 'Owner' || loggedUser.role == 'Developer' " class="mt-3">
      
    <a class="btn btn-primary" routerLink="/changerole/{{projectId}}">Change Role</a>  
    </div>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    <table *ngFor="let participant of participants" class="table">
      <hr>
      <p><strong>{{ participant['user']['nickname'] }}</strong></p>
     
      <div>
        
    </div>
    
      <tr>
        <th>Tasks For The Week</th>
        <th>Tasks For The Day</th>
        <th>Verify</th>
        <th>Done</th>
      </tr>
      
      <!-- Role Developer-->
      <tr *ngIf="loggedUser.role == 'Developer'">
        <!-- Role Develop-->
    
        <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="taskForTheWeek"
          [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag 
          [cdkDragDisabled]="!(goal['user'] == loggedUser.role_id)">
            <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
    
        <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="taskForTheDay"
          [cdkDropListConnectedTo]="[task_for_the_week, task_verified]" (cdkDropListDropped)=drop($event)>
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag
          [cdkDragDisabled]="!(goal['user'] == loggedUser.role_id)">
            <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
        <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="taskVerified"
          [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)=drop($event)>
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag
          [cdkDragDisabled]="!(goal['user'] == loggedUser.role_id)">
            <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
        <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="taskDone"
          [cdkDropListConnectedTo]="[task_for_the_day, task_for_the_week, task_verified]" (cdkDropListDropped)=drop($event)>
         
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag
          [cdkDragDisabled]="!(goal['user'] == loggedUser.role_id)">
            <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
      </tr>
    
      <!-- Role Quality Analyst-->
      <tr *ngIf="loggedUser.role == 'Quality Analyst'">
    
        <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="taskForTheWeek"
           (cdkDropListDropped)="drop($event)">
           
           <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
    
    
    
            </div>
    
          </div>
        </td>
    
        <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="taskForTheDay"
          (cdkDropListDropped)=drop($event)>
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
              
              <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
        <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="taskVerified"
          [cdkDropListConnectedTo]="[task_for_the_week, task_done]" (cdkDropListDropped)=drop($event)>
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
        <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="taskDone"
           (cdkDropListDropped)=drop($event)>
           
           <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
      </tr>
    
      <!-- Role Owner-->
      <tr *ngIf="loggedUser.role == 'Owner'">
    
        <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="taskForTheWeek"
          [cdkDropListConnectedTo]="[task_for_the_day, task_verified, task_done]" (cdkDropListDropped)="drop($event)">
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
    
    
    
            </div>
    
          </div>
        </td>
    
        <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="taskForTheDay"
          [cdkDropListConnectedTo]="[task_for_the_week, task_verified, task_done]" (cdkDropListDropped)=drop($event)>
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
        <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="taskVerified"
          [cdkDropListConnectedTo]="[task_for_the_day, task_for_the_week, task_done]" (cdkDropListDropped)=drop($event)>
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
        <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="taskDone"
          [cdkDropListConnectedTo]="[task_for_the_day, task_for_the_week, task_verified]" (cdkDropListDropped)=drop($event)>
          
          <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
            <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
              {{ goal['name'] }} <br>
              {{ goal['id'] }}
              <p>Status: {{ goal['status'] }}</p>
            </div>
    
          </div>
        </td>
      </tr>
    
    </table>